.container {
  width: 100%;
  max-width: 1360px;
  margin-inline: auto;

  padding-inline: clamp(20px, 3vw, 40px);
}

@media (max-width: 1600px) {
  .container {
    max-width: 1240px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1120px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 1140px) {
  .container {
    max-width: 880px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 820px) {
  .container {
    max-width: 680px;
    padding-inline: clamp(16px, 5vw, 24px);
  }
}

@media (max-width: 480px) {
  .container {
    max-width: none;
    padding-inline: 16px;
  }
}
